<%- model_class = Image -%>
<div class="page-header">
  <h1><%= @image.name %></h1>
</div>
<div class="col-md-8 col-md-offset-2">
    <%= image_tag @image.picture.url, class:'img-rounded', size: '400x400' if @image.picture? %>
    <div style="padding-top: 10px">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  images_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_image_path(@image), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  image_path(@image),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
</div>